.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.egg-info/
dist/
build/

config.json
data/
tmp/
temp/

tests/results/

*.safetensors
src/minicpmo_demo/model/assets/
resources/

.idea/
.vscode/
*.swp
*.swo
playbook/

torch_compile_cache/
AutoAWQ/
dev_tools/
benchmark.json

.git/
.gitignore

Dockerfile
docker-compose.yml
